body{
    text-align: center;
    margin-top: 250px;
    background-color: beige;
}
#disp{
    font-size: 40px;
}

#startPause,#reset{
    width: 80px;
    height: 40px;
    font-weight: 300;
    background-color: darksalmon;
    color: #4e5d71;
    font: 20px bold;
    margin: 5px 5px 5px 5px;
}
